---

# url
site_url: my-site.local

# mysql database 
mysql_database: db_name
mysql_user: db_user
mysql_pass: db_pass

# magento admin url, etc?
admin_email: 
admin_username:
admin_password:
admin_url: 

# mailcatcher settings
mailcatcher_ip: 0.0.0.0
mailcatcher_smtp_ip: 0.0.0.0
mailcatcher_smtp_port: 1025
mailcatcher_http_ip: 0.0.0.0
mailcatcher_http_port: 1080

